@model IEnumerable<aerables.Models.Device>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p class="text-success">Επιλέξτε το AERABLE που θέλετε</p>
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            @{
                foreach (var dev in Model)
                {
                    <a href="@Url.Action( "Details","Device",routeValues: new { id=@dev.Id })" class="list-group-item">
                        <h4 class="list-group-item-heading">@dev.Name <span class="btn btn-default glyphicon glyphicon-heart pull-right"></span><span class="btn btn-default glyphicon glyphicon-star pull-right"></span></h4>
                        <p class="list-group-item-text">The Cube</p>
                        <span class="label label-success">active</span>
                        <span class="label label-primary">connected</span>
                    </a>
                }
            }
            <!--
            <a href="@Url.Action( "Details","Device",routeValues: new { id="D35D7670-3DD8-E311-8260-001B24C97DE7" })" class="list-group-item">
                <h4 class="list-group-item-heading">AERABLE 2 <span class="btn btn-default glyphicon glyphicon-heart pull-right"></span><span class="btn btn-default glyphicon glyphicon-star pull-right"></span></h4>
                <p class="list-group-item-text">The BOX</p>
                <span class="label label-success">active</span>
                <span class="label label-warning">not connected</span>
            </a>
            <a href="@Url.Action( "Details","Device",routeValues: new { id="D35D7670-3DD8-E311-8260-001B24C97DE7" })" class="list-group-item">
                <h4 class="list-group-item-heading">AERABLE 3 <span style="color: #FFCF40" class="glyphicon glyphicon-warning-sign"></span> <span class="btn btn-default glyphicon glyphicon-heart pull-right"></span><span class="btn btn-default glyphicon glyphicon-star pull-right"></span></h4>
                <p class="list-group-item-text">Στο αμάξι μου</p>
                <span class="label label-danger">inactive</span>
            </a>
            -->
        </div>
    </div>
    <div class="col-md-12">
        <a href="@Url.Action( "Create","Device")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Προσθήκη νέου</a>
</div>
</div>